/*pm.css*/
html {
	width: 350px; 
	height: 350px; 
	background-color: #E3E2DF;
}

.container{
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #E3E2DF;
}

.head{
	font-family: 'Montserrat';
	font-size: 16px;
	align-content: center;
}

.button{
	font-family: 'Montserrat';
	font-size: 16px;
	align-content: center;
}

.label{
	font-family: 'Montserrat';
	font-size: 16px;
	align-content: center;
}