html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: grid;
  background-color: #3a3a3a;
  font-family: 'Montserrat';
}

.headers {
  font-size: 25px;
}

.enteries {
  text-align: center;
}

.logout {
  position: absolute;
  top:0px;
  left:0px; 
}

.unlock_img{
  position: relative;
  top: 0px;
  left: 200px;
}

.login_header {
  font-size: 28px;
}

button {
  font-family: 'Montserrat';
}


.goback .logouttext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.goback:hover .logouttext {
  visibility: visible;
}

.logouttext{
  position: absolute;
  top:5px;
  left:35px; 
}
#container {
                width: 500px;
                height: 90%;
                display: flex;
            }

            #add {
                width: fit-content;
                height: 200px;
                padding-right: 25px;
                margin-right: 25px;
                border-right: 2px solid black;
            }

            #search {
                width: fit-content;
                height: 200px;
            }

            .search-label {
                font-weight: bold;
            }

            .details {
                font-weight: normal;
                font-size: 18px;
            }

            .updated-details {
                font-weight: normal;
                font-size: 18px;
            }