html {
    width: 300px; 
    height: 300px;
    background-color: #E3E2DF;
}
body {
    align-items: center;
    justify-content: center;
}
button {
	background-color: #E3E2DF;
	display: block;
}

#footer {
    height: 30px;
}

#footer-content {
    background-color: #f3e5f5;
    border: 1px solid #ab47bc;
    height: 25px;
    padding: 10px;
    top:253px;
    right: 0px;
    text-align: center;
    position: absolute;
    font-family: 'Montserrat';
}

.option .optiontext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.option:hover .optiontext {
  visibility: visible;
}

#title {
	font-size: 24px;
	font-family: 'Montserrat';
	text-align: center;
	position: absolute;
	top:50px;
}

#pm {
	font-family: 'Montserrat';
    font-size: 18px;
    position: relative;
    top:100px;
    right:15px;
    align-content: center;
}

#pm:hover {
    color: #e76e76;
    background-color: #000000;
}

#lu {
	font-family: 'Montserrat';
    font-size: 18px;
    position: relative;
    top:110px;
    right:10px;
    align-content: center;
}

#lu:hover {
    color: #e76e76;
    background-color: #000000;
}

#options{
	align:right;
}

.sub{
  background-color: #456268;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#mm-div{
  padding-top:100px;
  text-align: center;
  display: none;
}
